* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional, ensures padding does not affect overall width */
}

body {
    background-color: #e7e7e7;
    margin-bottom: 100px;
}
body, html {
    height: 100%;
}


header {
    background-color: #cbc7c7;
    margin-top: 0; /* Removes margin from the top of the header */
    border-bottom: 2px solid #bbb8b8;
}
.custom-button {
    display: block; /* Aligns buttons horizontally */
    margin: 10px; /* Spacing around buttons */
    /* Add more styling as needed */
}

.custom-button img {
    width: 100px; /* Adjust as needed */
    height: auto; /* Maintain aspect ratio */
    /* Add more styling as needed */
}
.content-container {
    margin-top: 50px;
    margin-left: 25px;
    display: flex;
    flex-direction: row; /* Place children side by side */
    align-items: flex-start; /* Align children to the top */
}

.custom-button a {
    display: block; /* Makes the entire area clickable */
}

.custom-button img {
    width: 225px;
    height: auto;
    transition: transform 0.3s ease; /* Smooth transition for transform property */
}

.button-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-start; /* Align buttons to the start (left) */
    margin-right: 100px; /* Add some space between buttons and the text */
}


.style1 {
    font-family:'Avenir Next';
    font-size: 45px; /* Adjust font size as needed */
    margin-bottom: 0.5em; /* Remove bottom margin to reduce space between lines */
    font-weight: lighter;
    color: #333;
}

.name{
    font-size: 50px; /* Larger font size for the name */
    font-family:'Avenir Next'; 
    margin-top: 5px; /* Add a small space above the name */
    color: #333; 
}



.custom-button img:hover,
.custom-button img:focus {
    animation: bounce 1s ease;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

.centered-text {
    margin-top: 50px;
    display: flex;
    flex-direction: column; /* Stack text elements vertically */
    justify-content: center; /* Center content vertically */
    align-items: flex-start; /* Align content to the start (left side) */
    text-align: left;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.alt-content-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* Remove the absolute positioning */
}


.alt-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.clouds-container {
    display: flex; /* Display children in a row */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the start of the cross axis */
    flex-wrap: wrap; /* Allow items to wrap to next line if needed */
    padding: 10px 0; /* Add some vertical padding */
}

.cloud-item {
    text-align: center; /* Center the text and image */
    margin-right: 20px; /* Space between each cloud-item */
    flex-basis: 20%; /* Adjust the basis of each item (can be set to a fixed width if preferred) */
    flex-grow: 1; /* Allow items to grow to fill space */
    flex-shrink: 0; /* Prevent items from shrinking below their basis */
    font-family: 'Avenir Next';
    padding-left: 20px;
}

.cloud-item img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image takes up its own line */
    margin: 0 auto; /* Center the image */
}

.title{
    padding-top: 20px;
    padding-left: 40px;
    font-family: 'Avenir Next';
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.info{
    padding-left: 100px;
    font-family:'Avenir Next' ;
    font-size: 16px;
    text-align: left;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#contact-form input, #contact-form textarea {
    width: calc(100% - 30px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Make sure padding doesn't affect the overall width */
}

#contact-form textarea {
    height: 150px;
    resize: vertical; /* Allow vertical resizing, disable horizontal resizing */
}

#contact-form button {
    width: 100%;
    padding: 10px 0;
    margin-top: 5px;
    background-color: #D9EBF5;
    color: #cbc7c7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact-form button:hover {
    background-color: #cbc7c7;
}

.send{
    color:#333
}







